.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #bebcbc;
}

.loading-circle {
  width: 10px;
  height: 10px;
  background-image: url("https://www.freeiconspng.com/thumbs/load-icon-png/load-icon-png-22.png");
  background-size: contain;
  background-color: #bebcbc;
  opacity: 0.4;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
