/* .mainContainer {
  width: 1000px;
  height: 1000px;
  position: fixed;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  background-color: yellow;
}

.webCamContainer {
  width: 352px;
  height: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(248, 244, 244);
  background-color: red;
}

@media only screen and (max-width: 1540px) {
  .mainContainer {
    width: 100vw;
    height: 100vh;
  }

  .webCamContainer {
    width: 352px;
    height: 352px;
  }
}

@media only screen and (max-width: 767.9px) {
  .webCamContainer {
    width: 280px;
    height: 280px;
  }
} */
